.NavBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    background-color: #ffffff;
    border-radius: 5px;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 8.5rem;
    border-right: 1px solid var(--line);
    flex-shrink: 0;

}

.NavHeader {
    display: flex;
    font-family: "Fraunces";
    margin-bottom: 2rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    width: 100%;
}
